<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WQW23BL');</script>
    <!-- End Google Tag Manager -->


    <script type="text/javascript">
        !function(t,e){if(void 0===e[t]){e[t]=function(){e[t].clients.push(this),this._init=[Array.prototype.slice.call(arguments)]},e[t].clients=[];for(var r=function(t){return function(){return this["_"+t]=this["_"+t]||[],this["_"+t].push(Array.prototype.slice.call(arguments)),this}},s=["addRecord","blockEvents","fetchServerCookie","fetchGlobalID","fetchUserSegments","resetUUID","ready","setSignedMode","setAnonymousMode","set","trackEvent","trackPageview","trackClicks","unblockEvents"],n=0;n<s.length;n++){var c=s[n];e[t].prototype[c]=r(c)}var o=document.createElement("script");o.type="text/javascript",o.async=!0,o.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.treasuredata.com/sdk/2.5.2/td.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(o,a)}}("Treasure",this);
        </script>
        <script type="text/javascript">
          // Configure an instance for your database
          var td = new Treasure({
            host: 'in.treasuredata.com',
            
            writeKey: '9629/d570c38c6464a2116ef444c0c5231b89480456a2',
            database: 'dtl_shell',
            startInSignedMode: true,
          });
          // Enable cross-domain tracking
          td.set('$global', 'td_global_id', 'td_global_id');
          // Track pageview information to 'pageviews' table
          td.trackPageview('liff_pageviews');
          
          // track pageview information to 'pageviews' table
            //td.set('liff_pageviews', {foo: 'foo', bar: 'bar'});
            //td.trackPageview('liff_pageviews');
        </script>




</head>
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQW23BL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js?v=2"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>
        var messageId = decodeURIComponent(getParams("messageId"));
        var url = decodeURIComponent(getParams("url"));
        $(function(){

            insertPersonalizeLink(lineUserId,messageId,link);

           // sessionStorage.clear();
           //alert('v2');
            /*if(getParams("messageId") != null && getParams("messageId") != ""){
                sessionStorage.setItem('messageId', decodeURIComponent(getParams("messageId")));
            }
            if(getParams("url") != null && getParams("url") != ""){
                sessionStorage.setItem('url', decodeURIComponent(getParams("url")));
            }
            */
             
            initializeLiff('1493169972-DozVrxpL');
        });

        function initializeLiff(myLiffId) {
            liff
                .init({
                    liffId: myLiffId
                })
                .then(() => {
                    //alert('ok');
                    setTimeout(function(){
                        initializeApp();
                    },500);
                })
                .catch((err) => {
                    console.log(err);
                });
        }

        function initializeApp() {
            //alert('shell 2');
            if (liff.isInClient()) {
                liff.getProfile().then(profile => {
                    var userId = profile.userId;

                    if (messageId == undefined) {

                    } else {

                        window.dataLayer = window.dataLayer || [];
                        dataLayer.push({
                            'event': 'userData',
                            'userId': userId,
                            'messageId': messageId,
                            'type': 'mobile'
                        });

                        td.set('liff_pageviews', {line_user_id: userId});
                         td.trackPageview('liff_pageviews');

                        
                        insertPersonalizeLink(userId,messageId,url);

                    }

                    /*if(sessionStorage.getItem('messageId') != null  && sessionStorage.getItem('messageId') != ""){
                        var messageId = sessionStorage.getItem('messageId');
                        var link = sessionStorage.getItem('url');
                       
                        link = decodeURIComponent(link);
            
                        if(messageId > 0 || messageId == -1){
                            insertPersonalizeLink(userId,messageId,link);
                        }else{
                            if(link != null){
                                //alert(link);
                                link = 'https://timeline.line.me/post/1161603460409063120';
                            location.replace(link);
                                //top.location.href = link;
                            }else{
                                location.replace("https://timeline.line.me/user/_dVcGUqO0Sq8E_RSnbR3iU5OgDx5iWVLW_3p05Lk?utm_medium=windows&utm_source=desktop&utm_campaign=OA_Profile");
                            }
                        }
                    }else{
                        location.replace("https://timeline.line.me/user/_dVcGUqO0Sq8E_RSnbR3iU5OgDx5iWVLW_3p05Lk?utm_medium=windows&utm_source=desktop&utm_campaign=OA_Profile");
                       
                    }
                    */
                })
                .catch((err) => {
                    console.log('error', err);
                });
            }else{
                if (!liff.isLoggedIn()) {
                        liff.login();
                }else{
                    console.log("desktop")
                    liff.getProfile().then(profile => {
                        var userId = profile.userId;

                        //alert(url);
                        //return; 
                        
                        var messageId = 0;
                        var link = "";
                        messageId = (sessionStorage.getItem('messageId') != null ? sessionStorage.getItem('messageId') : decodeURIComponent(getParams("messageId")));
                        link = (sessionStorage.getItem('url') != null ? sessionStorage.getItem('url') : decodeURIComponent(getParams("url")));

                        link = decodeURIComponent(link);

                        window.dataLayer = window.dataLayer || [];
                        dataLayer.push({
                            'event': 'userData',
                            'userId': userId,
                            'messageId': messageId,
                            'type': 'desktop'
                        });

                         
                         td.set('liff_pageviews', {line_user_id: userId});
                         td.trackPageview('liff_pageviews');

                        if(messageId > 0 || messageId == -1){
                                sessionStorage.clear();
                                insertPersonalizeLink(userId,messageId,link);
                        }else{
                            if(link != null){
                                    sessionStorage.clear();
                                    location.replace(link);
                            }else{
                                location.replace("https://timeline.line.me/user/_dVcGUqO0Sq8E_RSnbR3iU5OgDx5iWVLW_3p05Lk?utm_medium=windows&utm_source=desktop&utm_campaign=OA_Profile");
                                
                            }
                        }
                        
                    })
                    .catch((err) => {
                        console.log('error', err);
                    });
                }
            }
        }

        async function insertPersonalizeLink(lineUserId,messageId,link){
            var data = {
                "lineUserId": lineUserId,
                "messageId": messageId,
                "link": link
            };
            $.ajax({
                type: "POST",
                url: "<%=url%>/api/insertPersonalizeLink",
                data: data,
                success: function(data)
                {
                 
                    //link = 'https://timeline.line.me/post/1161603460409063120';
                    
                    if (messageId == '181') {
                        //alert(messageId);
                        location.replace('https://line.me/S/sticker/23492');
                    } else {
                        
                        if(link != null){
                                location.replace(link);
                        }else{
                            location.replace("https://timeline.line.me/user/_dVcGUqO0Sq8E_RSnbR3iU5OgDx5iWVLW_3p05Lk?utm_medium=windows&utm_source=desktop&utm_campaign=OA_Profile");
                        
                        }
                    }
                },  
                error: function(req, status, error) {
                    if(link != null){
                        location.replace(link);
                    }else{
                        location.replace("https://timeline.line.me/user/_dVcGUqO0Sq8E_RSnbR3iU5OgDx5iWVLW_3p05Lk?utm_medium=windows&utm_source=desktop&utm_campaign=OA_Profile");
                        
                    }
                }  
            });
        }

        function getParams(param) {
            var href = window.location.href;
            var reg = new RegExp('[?&]' + param + '=([^&#]*)', 'i');
            var string = reg.exec(href);
            return string ? string[1] : null;
        }
    </script>
</body>
</html>